
/****
**** Admin bar icon styling
****/

li[class*="totallycriticalcss"] .wp-menu-image img {
	height: 25px;
	padding: 5px 0;
}

/****
**** General styling
****/
img {
    height: auto;
    max-width: 100%;
}
#admin-view {
	padding: 40px;
	max-width: 700px;
}
#admin-view-form .field {
	margin-bottom: 1.5rem;
}

#admin-view-form .field input {
	width: 550px;
}

#logo {
	text-align: center;
	max-width: 500px;
	margin: 0 0 30px 0;
}
#tccssWrapper * {
	box-sizing: border-box;
}
#tccssWrapper .content__wrapper .field label {
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 10px;
	display: inline-block;
}
#tccssWrapper .tab__content input[type='text'] {
	width: 100%;
	padding: 10px;	
}
#tccssWrapper .text-color {
	color: #46a1de;
	transition-duration: 0.2s;
}
#tccssWrapper .tab__content .field {
}
	#tccssWrapper .tab__content .field input {
		border: 1px #ddd solid;
		border-radius: 0;
		background: #fff;
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
	}
#tccssWrapper .tab__content .checkbox {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
	#tccssWrapper .tab__content .checkbox .check {
		width: 42px;
		border: 1px #ddd solid;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
	}
		#tccssWrapper .tab__content .checkbox .check input {
			margin: 0;
		}
	#tccssWrapper .tab__content .checkbox .label {
		border: 1px #ddd solid;
		width: calc( 100% - 42px);
		border-left: none;
		font-size: large;
		font-weight: bold;
		padding: 10px 15px;
		background: #fff;
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
	}
	#tccssWrapper .tab__content .checkbox .desc {
		margin-top: 7px;
	}




#tccssWrapper .tabs {
	display: flex;
	width: 100%;
	margin: 0;
}
	#tccssWrapper .tabs > li {
		flex-grow: 2;
		transition-duration: 0.15s;
		list-style: none;
		padding: 20px 20px 25px 20px;
		position: relative;
		text-align: center;
		overflow: hidden;
		cursor: pointer;
		color: #222;
		margin: 0;
	}
	#tccssWrapper .tabs > li.disabled {
		opacity: .25;
		cursor: default;
	}
	#tccssWrapper .tabs > li:not( .disabled ):before {
		z-index: -1;
		position: absolute;
		content: "";
		width: 100%;
		height: 120%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.7);
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		transition-duration: 0.15s;
		border-radius: 5px 5px 0 0;
	}
	#tccssWrapper .tabs > li:not( .disabled ):hover:before {
		-webkit-transform: translateY(70%);
		transform: translateY(70%);
	}
	#tccssWrapper .tabs > li.active {
		color: #50555a;
	}
	#tccssWrapper .tabs > li.active:before {
		transition-duration: 0.2s;
		background-color: white;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

#tccssWrapper .tab__content {
	background-color: white;
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: 0;
}
	#tccssWrapper .tab__content > li {
		width: 100%;
		display: none;
		list-style: none;
	}
	#tccssWrapper .tab__content > li.active {
		display: block;
	}
		#tccssWrapper .tab__content > li .content__wrapper {
			text-align: left;
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: white;
		}
		
#tccssWrapper .ajax-group {
	position: relative;
}
	#tccssWrapper .ajax-group .screen {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: rgba( 255, 255, 255, 0.5 );
	}
	#tccssWrapper .ajax-group.loading .screen {
		display: block;
	}

#tccssWrapper table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
	width: 100%;
	margin-bottom: 16px;
}
	#tccssWrapper table .seed {
		display: none;
	}
	#tccssWrapper table td, #tccssWrapper table th {
		padding: 10px;
		border: 1px solid #dee2e6;
	}
	#tccssWrapper table td.check {
		width: 42px;
	}
		#tccssWrapper table td.check input {
			margin: 0;
		}
	#tccssWrapper table .handle  {
		font-weight: bold;
		font-size: large;
	}
	#tccssWrapper table .url  {
		display: block;
		font-size: smaller;
	}
	#tccssWrapper table td.actions {
		width: 72px;
	}
		#tccssWrapper table .button-delete span  {
			display: block;
		}

#tccssWrapper .adder-form {
	display: none;
	padding: 16px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.03);
	width: 100%;
	margin-bottom: 16px;
}
	#tccssWrapper .adder-form input {
		border-radius: 0;
		border: 1px solid #ddd;
		padding: 5px 10px !important;
		margin-bottom: 16px;
	}
	
	#tccssWrapper #custom_dequeue {
		margin-bottom: 32px;
	}
