
/****
**** Admin bar icon styling
****/

li[class*="totallycriticalcss"] .wp-menu-image img {
	height: 25px;
	padding: 5px 0;
}

/****
**** General styling
****/
#admin-view-form .field {
	margin-bottom: 1.5rem;
}

#admin-view-form .field input {
	width: 550px;
}
